<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fontawesome -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <title>Profile</title>
    <link rel="icon" href="/images/sd.png" type="image/png" />
  </head>
  <body>
     <!-- Preloader  -->

     <div class="preloader"></div>
    <!-- Navbar -->
    <%-include("../partials/navbar.ejs") %>
    <div class="profile-container">
      <header style="background-image: url(<%=user?.coverImage%>)">
        <div class="icons-container">
          <!-- <p>
            <i class="fas fa-user"></i>
          </p>
          <p>
            <i class="fas fa-envelope"></i>
          </p>
          <p>
            <i class="fas fa-lock"></i>
          </p>
          <p>
            <i class="fas fa-sign-out-alt"></i>
          </p> -->
        </div>

        <!-- upload cover image icon -->
        <a class="cam" href="/api/v1/users/<%=user?._id%>">
          <i class="fas fa-edit upload-btn"> </i>
        </a>
        <!-- upload cover image icon -->
        <a class="cam" href="/api/v1/users/upload-cover-photo-page">
          <i class="fas fa-camera upload-btn"> </i>
        </a>
      </header>

      <!-- profile image -->
      <div class="profile-img">
        <img
        src="<%=user.profileImage?user.profileImage:"/images/default-dp.png" %>"
        alt="profile image" />
        <!-- upload profile image icon -->
        <a href="/api/v1/users/upload-profile-photo-page">
          <i class="fas fa-camera upload-btn"></i>
        </a>
      </div>
      <!-- personal details -->
      <div class="personal-container">
        <div class="details-wrapper">
          <div class="details">
            <i class="fas fa-user"></i>
            <p>Name : <%=user.fullName?user.fullName:"" %></p>
          </div>
          <div class="details">
            <i class="fas fa-envelope"></i>
            <p>Email: <%=user.email?user.email:"" %></p>
          </div>
          <!-- date joined -->
          <div class="details">
            <i class="fas fa-calendar"></i>
            <p>Date Joined:<%=user?.createdAt.toLocaleDateString() %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="latest-post-title">
      <!-- Icon -->
      <i class="fas fa-book-open"></i>
      <h1>Latest Posts (<%=user.post.length %>)</h1>
    </div>

    <!-- content -->
    <section class="container-flex">
      <!-- here Need  to Map the Post created by user  -->

      <% if(user.post){ %> <% user.post.forEach(post => {%>
      <!-- Let's map data  -->

      <article class="post-content">
        <img src="<%=post.image  %>" alt="" class="post-image" />
        <p class="post-info">
          <span class="post-author">
            <i class="fas fa-user"></i>
            <a href="#"><%=user.fullName %></a>
          </span>
          <span class="post-date">
            <i class="far fa-calendar-alt"></i>
            <time datetime="<%=post?.createdAt.toLocaleDateString()  %>"
              ><%=post?.createdAt.toLocaleDateString() %></time
            >
          </span>
        </p>
        <h1 class="post-title"><%=post?.title%></h1>
        <p class="post-body"><%=truncatePost(post?.description) %></p>
        <!-- category -->
        <div class="post-category">
          <span>Category: <%=post?.category %></span>
        </div>
        <a href="/api/v1/posts/<%=post._id%>" class="post-read-more"
          >Continue Reading...</a
        >
      </article>
      <% }); %> <% }else{ %>
      <article class="post-content">
        <h1>No posts yet...</h1>
      </article>

      <% } %>
    </section>
    <script src="/js/loader.js"></script>

  </body>
</html>
